In [41]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))
tp = df[0].drop([0])
tp.head()

     0                 1                 2
1  M1A      Not assigned      Not assigned
2  M2A      Not assigned      Not assigned
3  M3A        North York         Parkwoods
4  M4A        North York  Victoria Village
5  M5A  Downtown Toronto      Harbourfront

In [42]:
d = []
for index, row in tp.iterrows():
    if(row[1] != 'Not assigned'):
        if(row[2] == 'Not assigned'):
            row[2] = row[1]
        d.append((row[0], row[1], row[2]))

data = pd.DataFrame(d, columns = ('PostalCode', 'Borough', 'Neighborhood'))
data.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M6A        North York  Lawrence Heights
4        M6A        North York    Lawrence Manor